@tailwind base;
@tailwind components;
@tailwind utilities;

.popup-container {
    padding: 10px;
    h2 {
      font-size: 18px;
    }
    ul {
      list-style-type: none;
      li {
        display: flex;
        justify-content: space-between;
        margin-bottom: 5px;
      }
    }
    input {
      width: 100%;
      margin-bottom: 5px;
    }
  }
  